TP2/RaspberryPi/flows.json
[
    {
        "id": "1f62df5a32ae8a29",
        "type": "group",
        "z": "a71001d0309543c3",
        "name": "Switches",
        "style": {
            "label": true
        },
        "nodes": [
            "8a3eb40024e57c96",
            "6ea8814eac3c6c1f",
            "3f91cbcbe6e08d5f",
            "769adb57cecfa7dd",
            "8c62c7e408cd3b6b",
            "cd255ba37b76c0ab"
        ],
        "x": 834,
        "y": 959,
        "w": 452,
        "h": 262
    },
    {
        "id": "8a3eb40024e57c96",
        "type": "mqtt in",
        "z": "a71001d0309543c3",
        "g": "1f62df5a32ae8a29",
        "name": "",
        "topic": "grupo2/KL43/sw/sw1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "30ec7003649288df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 1000,
        "wires": [
            [
                "6ea8814eac3c6c1f",
                "cd255ba37b76c0ab"
            ]
        ]
    },
    {
        "id": "6ea8814eac3c6c1f",
        "type": "debug",
        "z": "a71001d0309543c3",
        "g": "1f62df5a32ae8a29",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3f91cbcbe6e08d5f",
        "type": "mqtt in",
        "z": "a71001d0309543c3",
        "g": "1f62df5a32ae8a29",
        "name": "",
        "topic": "grupo2/KL43/sw/sw3",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "30ec7003649288df",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 1140,
        "wires": [
            [
                "769adb57cecfa7dd",
                "8c62c7e408cd3b6b"
            ]
        ]
    },
    {
        "id": "769adb57cecfa7dd",
        "type": "debug",
        "z": "a71001d0309543c3",
        "g": "1f62df5a32ae8a29",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 1180,
        "wires": []
    },
    {
        "id": "8c62c7e408cd3b6b",
        "type": "ui_led",
        "z": "a71001d0309543c3",
        "g": "1f62df5a32ae8a29",
        "order": 24,
        "group": "841367fba213482c",
        "width": 3,
        "height": 1,
        "label": "Switch 3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#18685f",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#5cffec",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "switch_3",
        "x": 1180,
        "y": 1140,
        "wires": []
    },
    {
        "id": "cd255ba37b76c0ab",
        "type": "ui_led",
        "z": "a71001d0309543c3",
        "g": "1f62df5a32ae8a29",
        "order": 18,
        "group": "841367fba213482c",
        "width": 3,
        "height": 1,
        "label": "Switch 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#18685f",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#5cffec",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "switch_1",
        "x": 1180,
        "y": 1000,
        "wires": []
    },
    {
        "id": "30ec7003649288df",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "841367fba213482c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "289cc5e02c457bcf",
        "order": 1,
        "disp": false,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "289cc5e02c457bcf",
        "type": "ui_tab",
        "name": "KL43Z",
        "icon": "fa-arrows",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]